<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    ​
    <title>Starter Template for Bootstrap</title>
    ​
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
    ​
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    ​
    ​
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>
​
<body>
​
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="http://localhost:8080/">Home</a>


        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="name">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
​
<main role="main" class="container">
    ​<div>
    <p th:if="${message}" th:text="${message}"
       style="color:green";></p>


    <table class="table table-sm" >
        <thead>
        <tr>
            <th scope="col">Shop Name</th>
            <th scope="col">Adress</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="shop: ${shops}">

            <td th:text="${shop.name}"></td>
            <td th:text="${shop.address}"></td>
            <td><a  th:href="'/shops/'+${shop.id}" />comment</td>
        </tr>

        </tbody>
    </table>




    <div class="starter-template">
        <h1>Dodaj sklep</h1>
        ​
        <form action="/shops" method="post" th:object="${shop}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input th:field="*{name}" type="text" class="form-control" id="inputEmail3"
                           placeholder="Name" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <input th:field="*{address}" type="text" class="form-control" placeholder="Address" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" class="btn btn-primary btn-lg" value="Dodaj">
                </div>
            </div>
        </form>
    </div>
    ​
</main><!-- /.container -->
​
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>