<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    ​
    <title>Starter Template for Bootstrap</title>
    ​
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
    ​
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    ​
    ​
    <!-- Custom styles for this template -->
    <link href="/starter-template.css" rel="stylesheet">
</head>
​
<body>
​
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="http://localhost:8080/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    ​

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
​
<main role="main" class="container">
    ​<!--
    th:each odpowiednik pętli w Thymeleaf
        shop jest zmienna, która pochodzi z kontrollera
        shop.comments wywołuje shop.getComments()
        getComments generule Lombok, a implementacja jest
        generowana przez Hibernate i andotacje OneToMany
        w praktyce jest robiony SQL do bazy
        SELECT * FROM comment WHERE shop_id=1;
        c zmienna lokanlna html


    -->
    <div class="starter-template">
        <h1>Sklep:</h1>
        <p th:text="${shop}"/>
    </div>
    ​
    <h3>Komentarze</h3>
    <ul th:each="comment: ${shop.comments}">
        <li th:text="${comment}"/>
    </ul>

    ​
    <h1>Dodaj komentarz</h1>
    ​
    <form action="/comments" method="post" th:object="${comment}">
        <input type="hidden" th:field="*{shop}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Opis sklepu oraz Lista kupionych produktów </label>
            <div class="col-sm-10">
                <input th:field="*{description}" type="text" class="form-control"
                       placeholder="Opis sklepu" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cena koszyka</label>
            <div class="col-sm-10">
                <input th:field="*{price}" type="number" class="form-control"
                       placeholder="Cena koszyka" required>
            </div>
        </div>
        ​
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tani?</label>
            <div class="col-sm-10">
                <input th:field="*{cheap}" type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Tani</label>
            </div>
        </div>
        ​
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary btn-lg" value="Dodaj">
            </div>
        </div>
    </form>
    ​
    ​
</main><!-- /.container -->
​
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>